{{define "title"}}Day {{.DayStamp}}{{end}}
{{define "body"}}
<main class="h-feed">
	<article>{{$cnt := len .Bookmarks}}
		<h2 class="p-name"><span class="mv-count">{{$cnt}}</span> bookmark{{if ne $cnt 1}}s{{end}} for {{.DayStamp}}</h2>
	</article>
	{{if .Authorized}}
		{{range .Bookmarks}}{{template "authorized post card" .}}{{end}}
	{{else}}
		{{range .Bookmarks}}{{template "unauthorized post card" .}}{{end}}
	{{end}}
</main>
{{end}}