{{define "title"}}Followers{{end}}
{{define "body"}}
    <main>
        {{template "follow tabs" .}}
        <article>
            <h2>Followers {{len .Actors}}</h2>
        </article>
        {{range .Actors}}{{template "actor card" .}}{{else}}<article>Empty here...</article>{{end}}
    </main>
{{end}}
