{{define "title"}}Followers{{end}}
{{define "body"}}
    <main>
        <article>
            <h2>Followers {{len .Actors}}</h2>
            <p>See also <a href="/following">Following</a>.</p>
        </article>
        {{range .Actors}}
            <article>
                <h3><a href="/@{{.Acct}}">@{{.Acct}}</a></h3>
                <a href="{{.ID}}">{{.ID}}</a>
            </article>
        {{else}}
            <article>Empty here...</article>
        {{end}}
    </main>
{{end}}
