{{define "title"}}Followers{{end}}
{{define "body"}}
    <main>
    {{if .Notifications}}{{range .Notifications}}
        <div class="notif" notif-cat="{{.Category}}">{{.Body}}</div>
    {{end}}{{end}}
        {{template "follow tabs" .}}
        <article>
            <h2>Followers {{len .Actors}}</h2>
        </article>
        {{range .Actors}}{{template "actor card" .}}{{else}}<article>Empty here...</article>{{end}}
    </main>
{{end}}
