{{define "title"}}Log out{{end}}
{{define "body"}}
	<main>
		<article>
			<h2>Log out</h2>
			<form method="post" action="/logout">
				<p>Yes, log me out:</p>
				<input type="submit" class="btn" value="Log out">
			</form>
		</article>
	</main>
{{end}}