{{define "title"}}Link: {{.Bookmark.Title}}{{end}}
{{define "body"}}
	<main>{{$root := .}}
		{{if .Notifications}}{{range .Notifications}}
		<div class="notif" notif-cat="{{.Category}}">{{.Body}}</div>
		{{end}}{{end}}
		<article class="post-page h-entry">
			<div class="card-line">
				{{if .Bookmark.RepostOf}}<a href="{{.Bookmark.RepostOf}}" class="u-repost-of">Reposted</a>{{end}}
				<a class="u-url" href="/{{.Bookmark.ID}}">{{.Bookmark.ID}}.</a>
				{{if not .Authorized}}{{if .LikeCounter}}{{.LikeCounter}} like{{if ne .LikeCounter 1}}s{{end}}{{end}}
				<button class="dashed-btn float-right" onclick="copyTextElem({{.Bookmark.URL}}, this)">Copy link</button>{{end}}
				{{if .Authorized}}
					{{if .Bookmark.Visibility}}
						<span class="post-visibility post-visibility-public float-right">Public</span>
					{{else}}
						<span class="post-visibility post-visibility-private float-right">Private</span>
					{{end}}
				{{end}}
			</div>
			
			<h4 class="p-name"><a class="u-url" href="/go/{{.Bookmark.ID}}">{{.Bookmark.Title}}</a></h4>
			<a class="u-bookmark-of h-cite" href="/go/{{.Bookmark.ID}}">{{shortenLink .Bookmark.URL}}</a>

			{{if .Bookmark.Description}}
				<div class="myco e-content">
					{{mycomarkup .Bookmark.Description}}
				</div>
			{{end}}
			<div class="post-tags">
				{{range $i, $cat := .Bookmark.Tags}}{{if $i}},{{end}}<a class="p-category" href="/tag/{{$cat.Name}}">{{$cat.Name}}</a>{{end}}
			</div>
			<a href="/day/{{timestampToDayStamp .Bookmark.CreationTime}}" class="date-link">
				<time class="dt-published" datetime="{{timestampToHuman .Bookmark.CreationTime}}">
					{{timestampToHuman .Bookmark.CreationTime}} UTC
				</time>
			</a>

			{{if $root.Authorized}}<div class="bookmark-controls">
				<form method="POST" action="{{if .LikedByUs}}/unlike{{else}}/like{{end}}">
					<input type="hidden" name="id" value="{{.Bookmark.ID}}">
					<input type="hidden" name="next" value="{{$root.Endpoint}}?page={{$root.CurrentPage}}#{{.Bookmark.ID}}">
					<input type="submit" class="btn" value="{{if .LikedByUs}}💔 Unlike yourself{{else}}❤️ Like yourself{{end}}">
				</form>
				<button class="btn" onclick="copyTextElem({{.Bookmark.URL}}, this)">Copy link</button>
				<a class="btn" style="margin-left:auto"  href="/edit-link/{{.Bookmark.ID}}">Edit</a>
			</div>{{end}}
		</article>
		{{if .Reposts}}
		<article>
			<h3>{{len .Reposts}} repost{{if gt (len .Reposts) 1}}s{{end}}</h3>
			<ul>
			{{range .Reposts}}
				<li><a href="{{.URL}}">{{.Name}}</a> reposted at {{.Timestamp | timeToHuman}}</li>
			{{end}}
			</ul>
		</article>
		{{end}}
		{{if .Authorized}}
		<article>
			<h3>Archive copies</h3>
			<form method="post" action="/make-new-archive/{{.Bookmark.ID}}">
				<input type="submit" value="Make a new archive copy" class="btn">
			</form>
			{{if len .Archives}}{{$bookmarkID := .Bookmark.ID}}
				<ul>{{$highlight:=.HighlightArchive}}
				{{range .Archives}}
					<li>
						<a href="/artifact/{{.Artifact.ID}}">
							{{if eq $highlight .ID}}<mark>{{timestampToHuman .SavedAt.String}}</mark>{{else}}{{timestampToHuman .SavedAt.String}}{{end}}</a>
						<span class="archive-mime">{{.Artifact.HumanMimeType}}</span>
						<span class="archive-size">{{.Artifact.HumanSize}}</span>
						<form action="/delete-archive?archive-id={{.ID}}&bookmark-id={{$bookmarkID}}" method="post" style="display: inline-block">
							<input type="submit" value="Delete" class="btn">
						</form>
					</li>
				{{end}}
				</ul>
			{{end}}
		</article>
		{{end}}
		{{if and .Authorized .FederationEnabled .LikeCounter}}
		<article>
			<h3>{{.LikeCounter}} like{{if ne .LikeCounter 1}}s{{end}}</h3>
			<ul>
				{{if .LikedByUs}}<li>Yours</li>{{end}}
				{{range .Likes}}<li><a href="/{{.Acct}}">{{.DisplayedName}}</a></li>{{end}}
			</ul>
		</article>
		{{end}}
	</main>
	<script src="/static/copytext.js"></script>
{{end}}
