<!doctype html>
<html lang="en">
<head>
	<title>{{template "title" .}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="icon" href="/static/pix/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/static/pix/favicon.png">

    {{if .Authorized}}
	<link rel="manifest" href="/manifest.json">

	<script>
		if ("serviceWorker" in navigator) {
			navigator.serviceWorker.register("/service-worker.js")
				.then((reg) => console.log("Service Worker registered with scope: ", reg.scope))
				.catch((err) => console.log("Service Worker registration failed: ", err));
		}
	</script>
    {{end}}

	{{.Head}}
</head>
<body class="{{if .Authorized}}authorized{{else}}not-authorized{{end}}">
<header class="horizontal-scroll-on-phone">
	<nav>
		<h1>{{.SiteTitleHTML}}</h1>
		<ul>
			<li><a href="/">Bookmarks</a></li>
			<li><a href="/tag">Tags</a></li>
			{{if and .Authorized .FederationEnabled}}<li><a href="/timeline">Timeline</a></li>{{end}}
			<li><a href="/random">Random</a></li>
			<li><a href="/@{{.AdminUsername}}">{{if .Authorized}}Your profile{{else}}About author{{end}}</a></li>
			{{if .Authorized}}<li><a href="/settings">Settings</a></li>
			<li><a href="/help">Help</a></li>{{end}}
		</ul>
	</nav>
</header>
{{if .SystemNotifications}}
	<div class="notifs toplevel-notifs">
		{{range .SystemNotifications}}
			<div class="notif" notif-cat="{{.Category}}">{{.Body}}</div>
		{{end}}
	</div>
{{end}}
<nav class="misc horizontal-scroll-on-phone">
	<form class="search-form" action="/search" method="get">
		<input type="text" aria-label="Search query" placeholder="Search query" name="q" value="{{.SearchQuery}}">
	</form>
	<ul>
        {{if .Authorized}}<li><a href="/save-link">Save link</a></li>
        <li><a href="/repost">Repost</a></li>{{end}}
		{{if not .Authorized}}
			<li><a href="/login">Log in</a></li>
			<li><a href="/digest-rss">Site RSS</a></li>
		{{end}}
	</ul>
</nav>
{{template "body" .}}
{{if .PublicCustomJS}}<script src="/static/public.js"></script>{{end}}
{{if and .Authorized .PrivateCustomJS}}<script src="/static/private.js"></script>{{end}}
</body>
</html>
