{{define "title"}}Subscription feed{{end}}
{{define "body"}}
    <main class="h-feed">
        <article>
            <h2 class="p-name">Subscription feed</h2>
            <p>New bookmarks from people you have subscribed to go here.</p>
            <a class="btn" href="/subscribe">Subscribe to somebody</a>
            <a class="btn" href="/subscriptions/manage">Manage subscriptions</a>
            <a class="btn">RSS feed</a>
        </article>
    </main>
{{end}}