{{define "title"}}Tags{{end}}
{{define "body"}}
	<main class="mv-tags">
		<article>
			<h2 class="p-name">Tags</h2>
			{{if .Tags}}
				<ol>
					{{range .Tags}}
						<li class="mv-tag">
							<a href="/tag/{{.Name}}" class="u-url"><span class="p-name">{{.Name}}</span></a>
							<span class="mv-count">{{.BookmarkCount}}</span> post{{if gt .BookmarkCount 1}}s{{end}}
						</li>
					{{end}}
				</ol>
			{{else}}
				<p>No tags.</p>
			{{end}}
		</article>
	</main>
{{end}}
