{{define "title"}}Not found{{end}}
{{define "body"}}
	<main>
		{{/* TODO: Make a cute birch illustration here maybe? Teehee 😋 */}}
		<h2>Not found</h2>
		<p>The page you requested for is not there.</p>
		<ul>
			<li>
				<p>It may have not been there to begin with.</p>
			</li>
			<li>
				<p>Maybe, they lied to you by giving the wrong URL.</p>
			</li>
			<li>
				<p>Maybe, the page was deleted or moved.</p>
			</li>
		</ul>
		<p>Anyway, feel free to surf around here.</p>
	</main>
{{end}}