{{define "title"}}Log out{{end}}
{{define "body"}}
	<main>
		<h2>Log out</h2>
		<p>Yes, log me out:</p>
		<form method="post" action="/logout">
			<input type="submit" class="btn" value="Log out">
		</form>
	</main>
{{end}}