{{define "title"}}Link: {{.Post.Title}}{{end}}
{{define "body"}}
	<main>
		<article class="post">
			<h2><a href="/{{.Post.ID}}">{{.Post.Title}}</a></h2>
			{{template "post fragment" .Post}}
		</article>
	</main>
{{end}}