{{define "title"}}Save link{{end}}
{{define "body"}}
	<main>
		<article>
			<h2>Save link</h2>
			<form method="post" action="/save-link">
                {{template "form fragment" .}}
			</form>
		</article>
	</main>
{{end}}