<!doctype html>
<html lang="en">
<head>
	<title>{{template "title" .}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
	<nav>
		<ul>
			<li>
				<a href="/">
					Betula
				</a>
			</li>
			<li>
				<a href="/save-link">
					Save link
				</a>
			</li>
			<li>
				<a href="/cat">
					Categories
				</a>
			</li>
			<li>
				<a href="/about">
					About
				</a>
			</li>
			<li>
				<form class="search-form">
					<input type="text" aria-label="Search query" placeholder="Search query">
					<input type="submit" value="Search" class="btn">
				</form>
			</li>
		</ul>
	</nav>
</header>
{{template "body" .}}
</body>
</html>