{{define "title"}}{{.Status}}{{end}}
{{define "body"}}
	<main>
		<article>
			<h2>{{.Status}}</h2>
			<p>The page you requested for is not there.</p>
			<ul>
				<li>
					<p>It may have not been there to begin with.</p>
				</li>
				<li>
					<p>Maybe, they lied to you by giving the wrong URL.</p>
				</li>
				<li>
					<p>Maybe, the page was deleted or moved.</p>
				</li>
			</ul>
			<p>Anyway, feel free to surf around here.</p>
		</article>
	</main>
{{end}}