@media screen and (max-width: 40rem) {
    body {
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-row-gap: 8px;
        margin: 0;
    }
    main {
        padding: 8px;
    }
    header {
        margin: 8px 0 0 4px;
    }
    h1, header ul, header li {
        display: inline;
        line-height: 150%;
        margin-right: 4px;
    }
    header li {
        white-space: nowrap;
    }
    h1 {
        font-size: medium;
    }
    .h-feed h2 {
        padding: 0 8px;
    }
    .h-feed {
        margin: 0 -8px;
    }
}

@media screen and (min-width: 40rem) {
    body {
        grid-template-columns: 180px 1fr;
        grid-template-areas:
            "header main"
            "footer main";
        grid-column-gap: 8px;
    }
    main:not(.h-feed) {
        padding: 8px 32px 32px 32px;
    }
    main, header, .post {
        border-radius: 4px;
    }
    header li {
        padding: 4px 8px;
    }
    h1 {
        margin: 8px;
    }
    .h-feed h2 {
        padding: 8px;
    }
}

@media screen and (min-width: calc(40rem + 360px)) {
    body {
        grid-template-columns: 1fr 40rem 1fr;
        grid-template-areas:
            "header main free"
            "footer main free";
        grid-column-gap: 8px;
    }
}

body {
    display: grid;
    font-family: sans-serif;
    word-break: break-word;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

/* Design */
header {
    padding: 0 4px;
}
header ul {
    padding: 0;
    margin: 8px 0;
}
header li {
    list-style-type: none;
}
main {
    max-width: 40rem;
}
a.edit-post-btn {
    float: right;
    font-size: small;
    margin: 2px;
}
.globe {
    float: right;
    margin-right: 4px;
    font-size: small;
}
.about-post {
    display: flex;
    font-size: small;
}
.about-post time {
    margin-left: auto;
}
.src-url {
    display: inline-block;
    font-size: small;
}
h3 {
    margin-bottom: 4px;
}
dt {
    font-weight: bold;
}
dd + dt {
    margin-top: 8px;
}
.categories {
    display: flex;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px 0;
}
.categories li {
    list-style-type: none;
}
.categories li + li {
    margin-left: 8px;
}
.categories a {
    display: block;
    padding: 4px 8px;
    border-radius: 8px;
    text-decoration: none;
}
form {
    max-width: 30rem;
}
form > div + div {
    margin-top: 16px;
}
form label {
    display: block;
    margin-bottom: 8px;
}
form input[type="radio"] + label,
form input[type="checkbox"] + label {
    display: inline-block;
}
form input[type="text"],
form input[type="url"],
form input[type="password"],
textarea {
    display: block;
    width: 100%;
    margin: 0;
    line-height: 1rem;
    font-size: 1rem;
    border: 2px inset #eee;
    font-family: sans-serif;
}
form input[type="submit"] {
    min-width: 50%;
    max-width: 15rem;
    margin-top: 8px;
}
form textarea {
    height: 100px;
    padding: 1px;
}
.input-caption {
    font-size: small;
    margin: 4px 0;
}
h2, .post {
    max-width: 40rem;
}
.post h2, .post h3 {
    margin: 0;
    font-size: medium;
}
.h-feed h2 {
    margin: 0 0 8px 0;
}
.h-feed .post {
    border-radius: 4px;
    padding: 8px;
}
.h-feed .post + .post {
    margin-top: 8px;
}
.about-post a, .about-post .empty-set {
    margin-left: .25rem;
}

/* Mycomarkup */
.myco, .myco * {
    max-width: 100%;
}

/* Colors */
html {
    background: #eee;
    padding: 0;
}
main:not(.h-feed),
.h-feed .post {
    background: white;
}
.edit-post-btn, .edit-post-btn:visited {
    color: black;
}
header a, header a:hover, header a:visited {
    color: black;
}
.btn, .btn:active, .btn:hover, .btn:visited {
    color: black;
}
.about-post a {
    color: black;
}


/* Buttons */
::-webkit-file-upload-button,
.btn {
    line-height: normal;
    display: inline-block;
    border: 1px #999 solid;
    border-radius: .15rem;
    text-decoration: none;
    padding: .25rem .5rem;
    font-size: 1rem;
    margin: 0;
    background: #eee;
}

.btn:hover {
    cursor: pointer;
}

.btn_accent {
    font-weight: bold;
}

.btn_weak {
    border: 1px dashed #999;
}

a.btn_destructive,
a.btn_destructive:visited,
.btn_destructive {
    border-color: #aa1818;
    background-color: #ee4343;
    color: white;
}

@media (prefers-color-scheme: dark) {
    .btn {
        border: #444 solid 1px;
    }

    .btn:hover, .btn:active,
    .btn:visited {
        color: #ddd;
    }

    .btn_weak {
        background-color: transparent;
    }

    .btn_destructive {
        border-color: #e34343;
        background-color: #b92828;
    }
}
