@media screen and (max-width: 700px) {
    body {
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-row-gap: 8px;
        margin: 0;
    }
    main {
        padding: 8px;
    }
    header ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 700px) {
    body {
        grid-template-columns: 180px 1fr;
        grid-template-areas:
            "header main"
            "footer main";
        grid-column-gap: 8px;
    }
    main {
        padding: 8px 32px 32px 32px;
    }
    main, header {
        border-radius: 4px;
    }
}

body {
    display: grid;
    font-family: sans-serif;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

/* Design */
header {
    padding: 0 4px;
}
header ul {
    padding: 0;
}
header li {
    list-style-type: none;
}
header a {
    display: block;
    padding: 4px 8px;
}
.about-post .globe {
    display: inline;
}
.about-post time {
    display: inline;
}
.src-url {
    display: block;
}
h3 {
    margin-bottom: 4px;
}
dt {
    font-weight: bold;
}
dd + dt {
    margin-top: 8px;
}
.src-url, .src-url:visited {
    display: block;
}
.categories {
    display: flex;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px 0;
}
.categories li {
    list-style-type: none;
}
.categories li + li {
    margin-left: 8px;
}
.categories a {
    display: block;
    padding: 4px 8px;
    border-radius: 8px;
}

/* Colors */
html {
    background: #eee;
    padding: 0;
}
header,
main {
    background: white;
}
header a:hover {
    background: #eee;
}
.categories a {
    background: #eee;
}