{{define "submit another"}}
<div class="submit-another">
    <input type="checkbox" name="another" id="another-confirmed" {{if .Another}} checked {{end}} value="true">
    <label for="another-confirmed">Submit another?</label>
</div>
{{end}}